/*Color Palette*/
/*Color assignments*/
/* Mixins */
html, body {
  min-height: 100vh;
  overflow: hidden; }

div#status, div#select {
  min-height: 90vh;
  padding-top: 1rem; }

h1 {
  min-height: 12vh;
  background-color: #0b2d4e;
  color: white; }

.frame {
  height: 90vh;
  overflow: scroll; }

.select.frame {
  background-color: #1a65d9; }

.status.frame {
  background-color: #5683ff; }

img {
  max-width: 100%; }

strong {
  font-weight: bold; }

h1, h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
  padding: 1rem .5rem;
  text-align: center;
  line-height: 2.5rem; }

h1 {
  padding-top: 1.2rem; }

h2 {
  font-size: 1.8rem; }

body, p {
  font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem; }

button {
  font-size: .8rem;
  background-color: #0b2d4e;
  color: white;
  border: none; }
  button:hover {
    color: black; }

div[id^="form"] {
  text-align: center;
  width: 100%;
  /*General text fields/buttons*/ }
  @media screen and (min-width: 200px) and (max-width: 750px) {
    div[id^="form"] {
      font-size: 0.4rem; } }
  @media screen and (min-width: 200px) and (max-width: 750px) {
    div[id^="form"] h2 {
      line-height: 1.5rem;
      margin-top: 0.8rem;
      margin-bottom: .5rem;
      margin-left: 4%; } }
  @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
    div[id^="form"] h2 {
      margin-top: 0;
      max-width: 80%; } }
  div[id^="form"] ul {
    width: 94%;
    margin: 2% auto; }
  div[id^="form"] .svgContainer {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] .svgContainer {
        width: 75%; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] .svgContainer {
        width: 80%; } }
  div[id^="form"] li {
    min-height: 10rem;
    max-width: 28%;
    margin: 2% 2%;
    display: inline-block;
    float: left;
    text-align: center;
    border-radius: 10px;
    background-color: #1a65d9;
    color: white;
    padding: .5rem; }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: portrait) {
      div[id^="form"] li {
        max-height: 6rem;
        min-height: 6rem;
        height: 6rem; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] li {
        min-height: 0rem;
        max-height: 5rem;
        max-width: 16%;
        margin: 1%; } }
  div[id^="form"] li.checked {
    background-color: white;
    color: black; }
  div[id^="form"] li:hover {
    background-color: white;
    color: black; }
  div[id^="form"] div#relativeWrap {
    width: 100%;
    position: relative; }
  @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
    div[id^="form"] fieldset#togglePet {
      margin-left: -8%; } }
  div[id^="form"] input[type="radio"], div[id^="form"] input[type="radio"] + label {
    width: 30%;
    margin: 5%;
    height: 4rem;
    display: inline-block; }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] input[type="radio"], div[id^="form"] input[type="radio"] + label {
        max-width: 20%;
        margin: 2%;
        margin-right: 6%; } }
  div[id^="form"] input[type="radio"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 10%; }
    @media screen and (min-width: 200px) and (max-width: 750px) and (orientation: portrait) {
      div[id^="form"] input[type="radio"] {
        top: -1rem;
        left: 13%; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] input[type="radio"] {
        left: 17%;
        top: .1rem; } }
  div[id^="form"] input[type="radio"]:last-of-type {
    left: 45%; }
    @media screen and (min-width: 200px) and (max-width: 750px) and (orientation: portrait) {
      div[id^="form"] input[type="radio"]:last-of-type {
        left: 38%; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] input[type="radio"]:last-of-type {
        left: 48%; } }
  div[id^="form"] input[type="radio"] + label {
    border-radius: 10px;
    background-color: #1a65d9;
    color: white;
    text-align: center;
    line-height: 4rem;
    font-size: 1.4rem; }
  div[id^="form"] input[type="radio"]:hover + label {
    background-color: white;
    color: black; }
  div[id^="form"] input[type="radio"]:checked + label {
    background-color: white;
    color: black; }
  div[id^="form"] input[type="text"], div[id^="form"] label {
    display: none;
    font-size: 1.4rem; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] input[type="text"], div[id^="form"] label {
        font-size: 0.9rem; } }
  div[id^="form"] input[type="text"] {
    border-radius: 10px;
    height: 3rem;
    border: 4px solid black;
    width: 80%;
    margin: 0 auto;
    line-height: 2rem;
    padding: .25rem; }
  div[id^="form"] button {
    border-radius: 10px;
    margin: 2rem 4% 3rem 4%; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] button {
        margin: 1rem 2% 0 2%; } }
  div[id^="form"] button:disabled {
    background-color: #304152;
    color: gray; }
  div[id^="form"] button:disabled:hover {
    background-color: #304152;
    color: gray; }
  div[id^="form"] button:disabled:hover:before {
    border-radius: 10px;
    content: "Hmm, Something's still missing...";
    min-height: 3.5rem;
    min-width: 15%;
    max-width: 15rem;
    position: absolute;
    margin: -2rem 0 0 -12rem;
    background-color: white;
    font-size: 1.4rem;
    padding: .5rem;
    color: black; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] button:disabled:hover:before {
        font-size: 0.9rem;
        max-width: 40%;
        margin: -2rem 0 0 -6rem; } }
  div[id^="form"] button:hover {
    background-color: white;
    color: black; }
  div[id^="form"] #cancel {
    float: left;
    font-size: 2.4rem;
    height: 4rem;
    min-width: 25%;
    margin-top: 2.5rem; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] #cancel {
        font-size: 1.4rem;
        max-height: 3rem;
        margin-top: 1.5rem;
        margin-left: 5%; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] #cancel {
        margin-top: .5rem; } }
  div[id^="form"] #next, div[id^="form"] #make {
    float: right;
    height: 5rem;
    min-width: 30%;
    font-size: 2.9rem; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] #next, div[id^="form"] #make {
        font-size: 1.65rem;
        max-height: 4rem; } }
    @media screen and (min-width: 300px) and (max-width: 750px) and (orientation: landscape) {
      div[id^="form"] #next, div[id^="form"] #make {
        margin-top: 0;
        margin-right: 14%; } }
  div[id^="form"] #make {
    height: 6rem;
    min-width: 35%;
    font-size: 3.4rem; }
    @media screen and (min-width: 200px) and (max-width: 750px) {
      div[id^="form"] #make {
        font-size: 1.9rem;
        max-height: 4rem; } }

@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: landscape) {
  div#formButtons {
    margin-top: 1rem; } }

@media screen and (min-width: 200px) and (max-width: 750px) {
  div#formPage3 label, div#formPage2 label {
    font-size: 1.1rem;
    line-height: 2rem;
    padding: .25rem;
    margin-top: 0;
    margin-left: -8%; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: portrait) {
  div#formPage3 label, div#formPage2 label {
    width: 100%;
    margin: 0 auto; } }
div#formPage3 input[type="radio"] + label, div#formPage2 input[type="radio"] + label {
  margin-left: 0%; }
@media screen and (min-width: 200px) and (max-width: 750px) {
  div#formPage3 input, div#formPage2 input {
    height: 2rem;
    margin: 0 auto; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: landscape) {
  div#formPage3 input, div#formPage2 input {
    margin-bottom: .5rem; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: portrait) {
  div#formPage3 input, div#formPage2 input {
    width: 100%;
    line-height: 1.5rem;
    padding: .25rem;
    font-size: 1rem; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: landscape) {
  div#formPage3 input[type="text"], div#formPage2 input[type="text"] {
    margin-left: 5%; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: portrait) {
  div#formPage3 #togglePet input, div#formPage3 #togglePet label, div#formPage2 #togglePet input, div#formPage2 #togglePet label {
    height: 3rem;
    width: 90%;
    margin: 2%; }
    div#formPage3 #togglePet input[type="radio"], div#formPage3 #togglePet label[type="radio"], div#formPage2 #togglePet input[type="radio"], div#formPage2 #togglePet label[type="radio"] {
      z-index: 10;
      left: 2.2%; }
    div#formPage3 #togglePet input[type="radio"]:first-of-type, div#formPage3 #togglePet label[type="radio"]:first-of-type, div#formPage2 #togglePet input[type="radio"]:first-of-type, div#formPage2 #togglePet label[type="radio"]:first-of-type {
      top: 0rem; }
    div#formPage3 #togglePet input[type="radio"]:last-of-type, div#formPage3 #togglePet label[type="radio"]:last-of-type, div#formPage2 #togglePet input[type="radio"]:last-of-type, div#formPage2 #togglePet label[type="radio"]:last-of-type {
      top: 3.6rem;
      right: 0; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: landscape) {
  div#formPage3 #togglePet input, div#formPage3 #togglePet label, div#formPage2 #togglePet input, div#formPage2 #togglePet label {
    height: 3rem; } }

h2 {
  border-radius: 10px;
  background-color: white; }

#popOut {
  border-radius: 10px;
  background-color: #225db9;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  margin: 1.5rem 0;
  padding: 1.2rem;
  margin-left: 5%;
  width: 90%;
  background-color: #0b2d4e; }
  #popOut li {
    font-size: 1.5rem;
    margin: 1rem 0; }
  #popOut button {
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    float: right;
    margin-top: 8%; }

p#actionWindow {
  border-radius: 10px;
  background-color: #225db9;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  min-height: 5.5rem; }

ul#thingStats {
  padding: .5rem 1rem; }
  ul#thingStats li {
    margin: .5rem 0; }
    ul#thingStats li strong {
      font-size: 1.6rem; }

label, input, select {
  display: block;
  margin: .5rem .2rem .2rem .5rem; }

select {
  width: 6rem; }

#thingActions button {
  font-size: 1.7rem; }
  #thingActions button:hover {
    color: black;
    background-color: white; }

#thingSelect button {
  height: 3rem; }
  #thingSelect button:hover {
    background-color: white; }

div#select {
  margin-bottom: 2.5rem; }
  div#select .thing {
    border-radius: 10px;
    padding: .5rem;
    padding-top: .25rem;
    display: inline-block;
    min-height: 8rem;
    background-color: #9bb6ff; }
    div#select .thing.active {
      background-color: #33e820; }
    div#select .thing:hover {
      background-color: #33e820;
      border: 5px solid white; }
  div#select .svgContainer {
    width: 50%;
    margin: 0 auto; }
  div#select p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4rem;
    height: 2.8rem; }
  div#select .makeNewThing p {
    font-size: 1.7rem;
    line-height: 1.9rem;
    height: 3.8rem;
    margin-top: 1rem; }

button#closeDrawer {
  display: none; }

@media screen and (max-width: 900px) {
  .status.frame {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%; }

  #status {
    margin: 1rem 7% 1rem 3%;
    width: 83%; }

  #select p {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 2.4rem;
    height: 3.2rem; }

  div#select .thing.makeNewThing p {
    min-height: 8rem;
    margin-top: 1.5rem; }

  div#select .thing.makeNewThing {
    padding: .2rem;
    padding-top: 0; }

  button#closeDrawer {
    display: block;
    position: absolute;
    top: -2%;
    right: 0;
    width: 7%;
    min-height: 102%;
    background-color: #0b2d4e; }
    button#closeDrawer:hover {
      background-color: white; }

  .thing {
    min-height: 8rem; }

  #popOut button {
    margin-top: 10rem; }

  #profile + button {
    margin-top: 1rem; }

  #action + button {
    margin-top: 8rem; } }
@media screen and (min-width: 700px) and (max-width: 900px), screen and (min-width: 1200px) {
  div#select .svgContainer {
    width: 32%; } }
@media screen and (min-width: 200px) and (max-width: 750px) {
  #status {
    padding: 0; }

  h1 {
    font-size: 2rem;
    padding: .3rem;
    line-height: 3.5rem; }

  h2 {
    font-size: 1.4rem;
    line-height: 1.2rem;
    padding: .5rem;
    margin-bottom: .4rem; }

  body, p {
    font-size: 1.4rem; }

  #profile body, #profile p {
    font-size: 1.15rem;
    line-height: 0.9rem; }

  div#select p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 1.3rem;
    height: 3.9rem; }

  div#select .makeNewThing p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    height: 4.8rem;
    margin-top: .4rem; }

  ul#thingStats li strong {
    font-size: 1.4rem; }

  #popOut button {
    float: none;
    display: block;
    margin: 0 auto; }

  #profile + button {
    margin-top: .3rem; }

  #action + button {
    margin-top: 4rem; }

  #actionWindow {
    display: none; }

  button#next:disabled:hover {
    color: black; } }
@media screen and (min-width: 200px) and (max-width: 750px) and (orientation: landscape) {
  #thingActions button {
    width: 48%;
    margin: 1%;
    margin-top: 2%;
    height: 2.8rem; }

  h2 {
    width: 90%; }

  div#select p {
    height: 2.6rem; }

  #popOut {
    width: 80%; }

  #svgContainer {
    width: 22%; }

  #statsContainer {
    width: 55%; }

  #status {
    margin: 0;
    margin-left: 2%;
    width: 95%; }

  button#closeDrawer {
    width: 10%; }

  #popOut {
    min-height: 10rem; } }
@media screen and (min-width: 200px) and (max-width: 550px) and (orientation: portrait) {
  div#status h2 {
    margin-top: -1rem; }

  #thingActions button {
    width: 45%;
    height: 3rem; }

  #status {
    margin: .3rem 3% .3rem 2.5%;
    width: 75%; }

  button#closeDrawer {
    width: 15%; }

  #svgContainer {
    max-width: 70%;
    margin: 0 5% 0 25%; }

  #statsContainer {
    width: 100%; }

  div[id^="form"] li {
    min-height: 6rem;
    max-width: 45%;
    padding-bottom: 0;
    margin-bottom: 0; }
    div[id^="form"] li .svgContainer {
      max-width: 100%;
      max-height: 4rem; } }
