//Overall Layout Styles

html, body{
	min-height: 100vh;
}

div#status, div#select{
	//height: 100%;
	min-height: 90vh;
	padding-top: 1rem;
}

h1 {
	height: 10vh;
	background-color: LightGoldenRodYellow;
}

.frame {
	height: 90vh;
	overflow: scroll;
}

.frame:nth-of-type(1){
	background-color: lightGreen;
}
.frame:nth-of-type(2){
	background-color: lightblue;
}

//Text Formatting

@mixin strongify{
	font-weight: bold;
	font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
}

strong{	@include strongify;	}

h1, h2{
	@include strongify;
	font-size: 3rem;
	font-weight: bold;
	font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
	padding: .5rem;
	padding-bottom: 1rem;
	text-align: center;
}


h2{	font-size: 2rem;  }


body {	font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif;	}

button{
	font-size: .8rem;
	background-color: dodgerblue;
	border: none;
}

//Make-A-Thing Form Styles

input[type="radio"]{
	display: inline-block;
	float: left;
	//width: 4rem;
}

#makeThingButton{
	width: 8rem;	
	height: 2.5rem;	
}


//Thing Status Styles

@mixin darkBox{
	background-color: rgb(55, 58, 55);
	border-radius: 10px;
	padding: 1rem;
	margin: 0 1rem;
	color: white;
}


h2{
	background-color: azure;
}



p#actionWindow {
	@include darkBox;
	min-height: 5rem;
}

ul#thingStats{
	padding: .5rem 1rem;
	li{
		margin: .5rem 0;
	}
}


label, input, select{
	display: block;
	margin: .5rem .2rem .2rem .5rem;
}

select{
	width: 6rem;
}


//Thing Select Styles

// for fixed make-a-thing button.  looks funny...
// div#select .hidden{
// 	opacity: 0;
// }
// div#select .makeNewThing {
// 	position: fixed;
// 	width: 13.6%; //approximating width of li elements from a fixed context
// }

button {
	height: 3rem;
	&:hover{
		background-color: Aliceblue;
	}
}


div#select{

	ul{
		li{
			//margin-top: 1rem;
			padding: 1rem;
			display: inline-block;
			height: 8rem; //20%;
			background-color: blue;

			@media screen and (min-width: 320px) and (max-width: 480px){
				height: 12%;
				width: 30%;
			}
			&.active{
				background-color: tomato;
			}
			&:hover{
				border: 5px solid white;
			}
		}


	}
}






