/*Color Palette*/
/*Color assignments*/
/* Mixins */
html, body {
  min-height: 100vh;
  overflow: hidden; }

div#status, div#select {
  min-height: 90vh;
  padding-top: 1rem; }

h1 {
  min-height: 10vh;
  background-color: #0b2d4e;
  color: white; }

.frame {
  height: 90vh;
  overflow: scroll; }

.select.frame {
  background-color: #1a65d9; }

.status.frame {
  background-color: #5683ff; }

img {
  max-width: 100%; }

strong {
  font-weight: bold; }

h1, h2 {
  font-weight: bold;
  font-size: 3rem;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
  padding: .5rem;
  padding-bottom: 1rem;
  text-align: center; }

h2 {
  font-size: 2rem; }

body, p {
  font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif; }

button {
  font-size: .8rem;
  background-color: #0b2d4e;
  color: white;
  border: none; }
  button:hover {
    color: black; }

input[type="radio"] {
  display: inline-block;
  float: left; }

.thing {
  width: 8rem;
  height: 2.5rem; }

h2 {
  border-radius: 10px;
  background-color: white; }

#profile {
  border-radius: 10px;
  background-color: #225db9;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  margin: 1.5rem 0;
  padding: 1.2rem;
  margin-left: 5%;
  width: 90%;
  background-color: #0b2d4e; }
  @media screen and (max-width: 930px) {
    #profile {
      left: 10%;
      width: 80%;
      margin-left: 0; } }
  #profile li {
    font-size: 1.5rem;
    margin: 1rem 0; }
  #profile button {
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    float: right;
    margin-top: 8%; }

p#actionWindow {
  border-radius: 10px;
  background-color: #225db9;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  min-height: 5rem; }

ul#thingStats {
  padding: .5rem 1rem; }
  ul#thingStats li {
    margin: .5rem 0; }
    ul#thingStats li strong {
      font-size: 1.2rem; }

label, input, select {
  display: block;
  margin: .5rem .2rem .2rem .5rem; }

select {
  width: 6rem; }

#thingActions button {
  font-size: 1.7rem; }
  #thingActions button:hover {
    color: black;
    background-color: white; }

#thingSelect button {
  height: 3rem; }
  #thingSelect button:hover {
    background-color: white; }

div#select {
  margin-bottom: 2.5rem; }
  div#select .thing {
    padding: .5rem;
    padding-top: .25rem;
    display: inline-block;
    min-height: 8rem;
    background-color: #9bb6ff; }
    div#select .thing.active {
      background-color: #33e820; }
    div#select .thing:hover {
      background-color: #33e820;
      border: 5px solid white; }
  div#select .svgContainer {
    width: 50%;
    margin: 0 auto; }
  div#select p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center; }
  div#select .makeNewThing p {
    font-size: 1.7rem;
    margin-top: 1.5rem; }

button#closeDrawer {
  display: none; }

@media screen and (max-width: 930px) {
  .status.frame {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%; }

  #status {
    margin: 1rem 7% 1rem 3%;
    width: 83%; }

  button#closeDrawer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 7%;
    height: 100%;
    background-color: #0b2d4e; }
    button#closeDrawer:hover {
      background-color: white; }

  .thing {
    min-height: 8rem; } }
.popout {
  border-radius: 10px;
  background-color: #225db9;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 0;
  width: 100%; }

.grayout {
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100%;
  top: 0;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6); }
