html, body {
  min-height: 100vh; }

div#status, div#select {
  min-height: 90vh;
  padding-top: 1rem; }

h1 {
  height: 10vh;
  background-color: LightGoldenRodYellow; }

.frame {
  height: 90vh;
  overflow: scroll; }

.frame:nth-of-type(1) {
  background-color: lightGreen; }

.frame:nth-of-type(2) {
  background-color: lightblue; }

img {
  max-width: 100%; }

strong {
  font-weight: bold;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif; }

h1, h2 {
  font-weight: bold;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
  font-size: 3rem;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
  padding: .5rem;
  padding-bottom: 1rem;
  text-align: center; }

p {
  font-size: 1.2rem;
  font-weight: bold; }

h2 {
  font-size: 2rem; }

body, p {
  font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif; }

button {
  font-size: .8rem;
  background-color: dodgerblue;
  border: none; }

input[type="radio"] {
  display: inline-block;
  float: left; }

#makeThingButton {
  width: 8rem;
  height: 2.5rem; }

h2 {
  background-color: azure; }

p#actionWindow {
  background-color: #373a37;
  border-radius: 10px;
  padding: 1rem;
  margin: 0 1rem;
  color: white;
  min-height: 5rem; }

ul#thingStats {
  padding: .5rem 1rem; }
  ul#thingStats li {
    margin: .5rem 0; }

label, input, select {
  display: block;
  margin: .5rem .2rem .2rem .5rem; }

select {
  width: 6rem; }

button {
  height: 3rem; }
  button:hover {
    background-color: Aliceblue; }

div#select ul li {
  padding: .5rem;
  padding-top: .25rem;
  display: inline-block;
  height: 8rem;
  background-color: blue; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    div#select ul li {
      height: 12%;
      width: 30%; } }
  div#select ul li.active {
    background-color: tomato; }
  div#select ul li:hover {
    border: 5px solid white; }
div#select .svgContainer {
  width: 55%;
  margin: 0 auto; }
div#select p {
  text-align: center; }
