//colors

$slateGray : rgb(55, 58, 55);

//Overall Layout Styles

html, body{
	min-height: 100vh;
	overflow: hidden;
}

div#status, div#select{
	//height: 100%;
	min-height: 90vh;
	padding-top: 1rem;
}

h1 {
	min-height: 10vh;
	background-color: LightGoldenRodYellow;
}

.frame {
	height: 90vh;
	overflow: scroll;
}

.select.frame{
	background-color: lightGreen;
}
.status.frame{
	background-color: lightblue;
}

img {
	max-width: 100%;
}

//Text Formatting

@mixin rounded {
	border-radius: 10px;
}

@mixin strongify{
	font-weight: bold;
	//font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
}

strong{	@include strongify;	}

h1, h2{
	@include strongify;
	font-size: 3rem;
	font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
	padding: .5rem;
	padding-bottom: 1rem;
	text-align: center;
}

h2{	font-size: 2rem;  }


body, p {	font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif;	}

button{
	font-size: .8rem;
	background-color: dodgerblue;
	border: none;

}

//Make-A-Thing Form Styles

input[type="radio"]{
	display: inline-block;
	float: left;
	//width: 4rem;
}

.thing{
	width: 8rem;	
	height: 2.5rem;	
}


//Thing Status Styles

@mixin darkBox{
	@include rounded;
	background-color: $slateGray;
	padding: 1rem;
	margin: 0 1rem;
	color: white;
}


h2{
	background-color: azure;

}

#profile{
	@include darkBox;
	margin: 1.5rem 0;
	padding: 1.2rem;
	width: 100%;

	& li {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	& button {
		@include rounded;
		@include strongify;
		background-color: transparent;
		border: 2px solid white;
		color: white;
		font-size: 2rem;
		float: right;
		margin-top: 8%; 
		//margin-top so the back button will be around where the profile button was
		//looking for better way. sass if statement?  if height > x, margin-top = y, else margin-top = z?
	}

}

p#actionWindow {
	@include darkBox;
	min-height: 5rem;
}

ul#thingStats{
	padding: .5rem 1rem;
	li{
		margin: .5rem 0;
		& strong {
			font-size: 1.2rem;
		}
	}
}


label, input, select{
	display: block;
	margin: .5rem .2rem .2rem .5rem;
}

select{
	width: 6rem;
}

#thingActions button {
	font-size: 1.7rem;
}


//Thing Select Styles

button {
	height: 3rem;
	&:hover{
		background-color: Aliceblue;
	}
}

.thing{


}

div#select{
	margin-bottom: 2.5rem;

	.thing{
			padding: .5rem;
			padding-top: .25rem;
			display: inline-block;
			min-height: 8rem; 
			background-color: blue;

			&.active{
				background-color: tomato;
			}
			&:hover{
				border: 5px solid white;
			}
		
	}

	& .svgContainer{
		width: 50%;
		margin: 0 auto;
	}

	p{
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}
	& .makeNewThing p{
		font-size: 1.7rem;
		margin-top: 1.5rem;
	}
}

button#closeDrawer{
	display: none;
}

@media screen and (max-width: 930px){
	.status.frame{ //selects wrapper of "status" div
		position: absolute;
		z-index: 5;
		top: 0;
		height: 100%;
	}

	#status {
		width: 96%;
		margin-left: 8%;
	}

	button#closeDrawer{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 7%;
		height: 100%;
		background-color: $slateGray;
	}

	.thing{
		min-height: 8rem;

	}


}


