/*Color Palette*/

$midBlueLight: #5683FF; //#688AE8;
$midBlueDark: #1A65D9;
$darkerMonoBlue2: #225DB9;
$darkestBlue: #0B2D4E; //#1E4163;
$monoBlue4: #9BB6FF;
$awesomeGreen: #33E820;


/*Color assignments*/

$lightText: white;
$headBG: $darkestBlue; //$warmPurple; //$monoOrange3; 

$selectBG: $midBlueDark; //$feelGoodPurple; //$monoOrange2; 
$selectButton: $monoBlue4;
$selectButtonHover: $awesomeGreen;

$statusBG: $midBlueLight; //$purpley; //$monoOrange1; 
$statusHead: white;
$statusButton: white;

$popOut: $darkerMonoBlue2;

$actionButton: $darkestBlue;


$bodyFont: 1.4rem;
$titleFont: 3rem;

/* Mixins */


@mixin darkBox{
	@include rounded;
	background-color: $popOut;
	padding: 1rem;
	margin: 0 1rem;
	color: white;
}

@mixin rounded {
	border-radius: 10px;
}

@mixin strongify{
	font-weight: bold;
	//font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
}

//Overall Layout Styles

html, body{
	min-height: 100vh;
	overflow: hidden;
}

div#status, div#select{
	//height: 100%;
	min-height: 90vh;
	padding-top: 1rem;
}

h1 {
	min-height: 12vh;
	background-color: $headBG;
	color: $lightText;
}

.frame {
	height: 90vh;
	overflow: scroll;
}

.select.frame{
	background-color: $selectBG;
}
.status.frame{
	background-color: $statusBG;
}

img {
	max-width: 100%;
}

//Text Formatting


strong{	@include strongify;	}

h1, h2{
	@include strongify;
	font-size: $titleFont;
	font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
	padding: 1rem .5rem;
	text-align: center;
	line-height: 2.5rem;
}

h1{
	padding-top: 1.2rem;
}

h2{	font-size: $titleFont - 1.2rem;  }


body, p {	font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif;	
			font-size: $bodyFont;
			line-height: 1.8rem;
		}

button{
	font-size: .8rem;
	background-color: $actionButton;
	color: $lightText;
	border: none;

	&:hover{
		color: black;
	}

}

//Make-A-Thing Form Styles

input[type="radio"]{
	display: inline-block;
	float: left;
	//width: 4rem;
}

.thing{
	width: 8rem;	
	height: 2.5rem;	
}


//Thing Status Styles


h2{
	@include rounded;
	background-color: $statusHead;

}

#popOut{
	@include darkBox;
	margin: 1.5rem 0;
	padding: 1.2rem;
	margin-left: 5%;
	width: 90%;
	background-color: $darkestBlue;

	& li {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	& button {
		@include rounded;
		@include strongify;
		background-color: transparent;
		border: 2px solid white;
		color: white;
		font-size: 2rem;
		float: right;
		margin-top: 8%; 
		//margin-top so the back button will be around where the popOut button was
		//looking for better way. sass if statement?  if height > x, margin-top = y, else margin-top = z?
	}

}

p#actionWindow {
	@include darkBox;
	min-height: 5.5rem;
}

ul#thingStats{
	padding: .5rem 1rem;
	li{
		margin: .5rem 0;
		& strong {
			font-size: $bodyFont + .2rem;
		}
	}
}


label, input, select{
	display: block;
	margin: .5rem .2rem .2rem .5rem;
}

select{
	width: 6rem;
}

#thingActions button {
	font-size: 1.7rem;
	&:hover{
		color: black;
		background-color: white;
	}
}


//Thing Select Styles

#thingSelect button {
	height: 3rem;
	&:hover{
		background-color: $statusButton;
	}
}

div#select{
	margin-bottom: 2.5rem;

	.thing{
			padding: .5rem;
			padding-top: .25rem;
			display: inline-block;
			min-height: 8rem; 
			background-color: $selectButton;

			&.active{
				background-color: $selectButtonHover;
			}
			&:hover{
				background-color: $selectButtonHover;
				border: 5px solid white;
			}
		
	}

	& .svgContainer{
		width: 50%;
		margin: 0 auto;
	}

	p{
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}
	& .makeNewThing p{
		font-size: $bodyFont + .3rem;
		margin-top: 1.5rem;
	}
}

button#closeDrawer{
	display: none;
}

@media screen and (max-width: 930px){

	#actionWindow {
		display: none;
	}

	.status.frame{ //selects wrapper of "status" div
		position: absolute;
		z-index: 5;
		top: 0;
		height: 100%;
	}

	#status {
		margin: 1rem 7% 1rem 3%;
		width: 83%;
		//overflow: hidden;
	}

	button#closeDrawer{
		display: block;
		position: absolute;
		top: -2%;
		right: 0;
		width: 7%;
		min-height: 102%;
		background-color: $darkestBlue;
		&:hover {
			background-color: white;
		}
	}

	.thing{
		min-height: 8rem;

	}

	#popOut button{
		margin-top: 10rem;
	}
}

//awkward moment after first adjust to tablet layout, when text outflows 
//buttons in select menu
@media screen and (min-width: 700px) and (max-width: 930px){
	div#select .svgContainer {
		width: 35%;
	}	
}

//phone landscape and below
@media screen and (min-width: 300px) and (max-width: 500px){
	#status{
		padding: 0;
	}
	h1{
		font-size: $titleFont - 1rem;
		padding: .3rem;
		line-height: $titleFont + .5rem;
	}

	h2{
		font-size: $titleFont - 1.3rem;
		line-height: $titleFont - 1.8rem;
		padding: .5rem;
	}
	body, p{
		font-size: $bodyFont - 2rem;
	}

	div#select .makeNewThing p{
		font-size: $bodyFont;
	}

	ul#thingStats li strong{
		font-size: $bodyFont;
	}

	#popOut button{
		float: none;
		display: block;
		margin: 0 auto;
	}

	//button directly following #profile
	#profile + button{
		margin-top: .3rem;
	}

	//button directly following #action
	#action + button{
		margin-top: 4rem;
	}

}
//phone Landscape
@media screen and (min-width: 300px) and (max-width: 500px) and (orientation: landscape){
	#thingActions button{
		width: 48%;
		margin: 1%;
		margin-top: 2%;
		height: 2.8rem;
	}

	#svgContainer{
		width: 33%; //overriding grid
	}

	#statsContainer {
		width: 55%;
	}

	#status {
		margin: 0;
		margin-left: 2%;
		width: 85%;
	}

	button#closeDrawer{
		width: 10%;
	}

	#popOut {
		min-height: 10rem;
	}
}


//phone portrait
@media screen and (min-width: 300px) and (max-width: 500px) and (orientation: portrait){

	#thingActions button{
		width: 45%;
		height: 3rem;
	}

	#status {
		margin: .3rem 3% .3rem 2.5%;
		width: 75%;
	}

	button#closeDrawer{
		width: 15%;
	}

	#svgContainer{
		max-width: 70%;
		margin: 0 5% 0 25%;
	}
	#statsContainer{
		width: 100%;
	}

}
