h1, h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: Galindo, "Franklin Gothic", "ITC Franklin Gothic", "Arial Bold", Arial, sans-serif;
  padding: .5rem;
  padding-bottom: 1rem;
  text-align: center; }

h2 {
  font-size: 2rem; }

body {
  font-family: "Open sans", Futura, "Trebuchet MS", Arial, sans-serif; }

div#select {
  background-color: lightGreen; }
  div#select ul {
    height: 85vh; }
    div#select ul li {
      margin: 0 auto;
      padding: 1rem;
      display: inline-block;
      height: 20%;
      width: 27%;
      margin: .5rem;
      background-color: blue; }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        div#select ul li {
          height: 12%;
          width: 30%; } }
      div#select ul li.active {
        background-color: tomato; }
      div#select ul li:hover {
        border: 5px solid white; }

div#status {
  background-color: lightblue; }

div#status, div#select {
  box-shadow: 5px 5px gray;
  height: 85vh;
  padding: 2%; }

ul#thingStats {
  padding: .5rem 1rem; }
  ul#thingStats li {
    margin: .5rem 0; }

ul#thingActions {
  margin: 1rem; }
  ul#thingActions button {
    width: 5rem;
    height: 1.5rem;
    background-color: dodgerblue;
    border: none;
    margin: .3rem; }
    ul#thingActions button:hover {
      background-color: Aliceblue; }

label, input, select {
  display: block;
  margin: .5rem .2rem .2rem .5rem; }

select {
  width: 6rem; }

input[type="radio"] {
  display: inline-block;
  float: left; }
