div#select{
	background-color: lightGreen;
	border: 4px inset lightgray

	li{
		display: block;
		height: 5rem;;
		background-color: blue;
		border: 2px solid black;
	}

}

div#status{
	background-color: lightblue;
}
